<div style="margin: 0 8px; padding: 0 2.0rem">
  content loader:
  <div data-controller="stimulus" data-stimulus-url="/stimulus/date_time"><p><%= @content_loader %></p></div>
</div>
<iframe class="border-none" src="/stimulus/live_view"></iframe>
