<div data-controller="stimulus" data-stimulus-index="1">
  <button data-action="stimulus#previous">←</button>
  <button data-action="stimulus#next">→</button>

  <div data-stimulus-target="slide" class="hidden">🐵</div>
  <div data-stimulus-target="slide" class="hidden">🙈</div>
  <div data-stimulus-target="slide" class="hidden">🙉</div>
  <div data-stimulus-target="slide" class="hidden">🙊</div>
</div>
