.gomoku-board {
  background-color: antiquewhite;
  background-image: url(/images/grid.svg);
  width: 70vh;
  height: 70vh;
  padding: 2%;
}

.gomoku-piece {
  width: calc(100% / 15);
  height: calc(100% / 15);
}
