{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3,
        "targets": ["defaults", "not IE 11"]
      }
    ],
    ["@babel/preset-typescript", { "allowDeclareFields": true }]
  ]
}
